<%- include("../partials/header") %>

<div id="toptext">
		<h1 class="pagename text-center mt-3">
			Shopping Cart<i class="fas fa-shopping-bag mx-3"></i>
		</h1>	
</div>

<div class="container">
	
	
	
	<div class="row">
		
		<div class="sidebar col-md-2 text-right">
			<div>
				<div class="card">
					<div class="card-header">
						<a href="/list">ALL</a>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><a href="/list/c/outwear">Outwear</a></li>
						<li class="list-group-item"><a href="/list/c/tops">Tops</a></li>
						<li class="list-group-item"><a href="/list/c/bottoms">Bottoms</a></li>
						<li class="list-group-item"><a href="/list/c/hats">Hats</a></li>
						<li class="list-group-item"><a href="/list/c/accessories">Accessories</a></li>
						<li class="list-group-item"><a href="/list/c/other">Other</a></li>
					</ul>
				</div>
			</div>	
		</div>
		
		<div class="col-md-10">
			<div id="content">
				
				<% if (items.length === 0) { %>
					<h3 class="ml-3 mt-3">Your cart is currently empty</h3>
				<% } %>
				
				<div class="row">
					<% items.forEach((item)=> { %>
					
							<div class="img-thumbnail text-center col-md-5 my-2 mx-3 <%if(item.bought===true){ %>
										bought	
										<% } %>">
						
								<img src="<%=item.front_image%>" class="img-fluid">
								<div class="caption top">
									<p class>
										<strong><%= item.name %> - <span class="price"><%= item.retail %></span></strong>
									</p>
									<p class="mt-0">
										<%= item.brand %>/<%= item.year %>
									</p>
								</div>
									<a href="/list/<%= item._id %>" class="btn btn-sm btn-primary mt-2 mb-3">More Info</a>
							</div>
					<% }) %>	
	
				</div>
			</div>
		</div>
		
	</div>
		
	
	
	
	
	
	<div id="addnewitem">
			<a href="/list/new" class="btn btn-lg btn-primary mt-3 mb-3">Add New Item</a>
	</div>
	
</div>



	





<%- include("../partials/footer") %>